:root {
    --primary-color: #E94752;

    --secondary-color: #78BDC4;

    --tertiary-color: #052C3C;

    --chromatic-01: #FFFFFF;
    --chromatic-02: #DDDEDD;
    --chromatic-03: #C2C2C2;
    --chromatic-04: #717171;
    --chromatic-05: #212121;
    --chromatic-06: #000000;

    --text-size-xxl: 3em;
    --text-size-xl: 2em;
    --text-size-l: 1.5em;
    --text-size-md: 1em;
    --text-size-sm: 0.75em;
    --text-size-xs: 0.5em;
    --text-size-xxs: 0.25em;
}

body {
    margin: 0;
}